<div id="<%= dom_id owner %>">
  <p>
    <strong>Name:</strong>
    <%= owner.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= owner.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= owner.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= owner.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= owner.zip %>
  </p>

</div>
