<div id="<%= dom_id inspection %>">
  <p>
    <strong>Inspection score:</strong>
    <%= inspection.inspection_score %>
  </p>

  <p>
    <strong>Inspection date:</strong>
    <%= inspection.inspection_date %>
  </p>

  <p>
    <strong>Inspection type:</strong>
    <%= inspection.inspection_type %>
  </p>

  <p>
    <strong>Violation date:</strong>
    <%= inspection.violation_date %>
  </p>

  <p>
    <strong>Violation type:</strong>
    <%= inspection.violation_type %>
  </p>

  <p>
    <strong>Risk category:</strong>
    <%= inspection.risk_category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= inspection.description %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= inspection.restaurant_id %>
  </p>

</div>
